body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.square {
  background: red;
  height: 30px;
  width: 30px;
  position: absolute;
}

.barrier {
  background: green;
  width: 10px;
  position: absolute;
}

.gap {
  width: 10px;
  position: absolute;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  background: #ddd;
  border: 1px solid #999;
  margin-right: -1px;
  margin-top: -1px;
  height: 300px;
  width: 500px;
}

.game-info {
  margin-left: 20px;
}